@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #5044E5
}

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
  @apply bg-[url('./assets/gradientBackground.png')] bg-cover bg-center bg-fixed;
}


